<h1>Teachers Page</h1>

<app-teachers-list 
  [teachers]="teachers" 
  (editTeacher)="editTeacher($event)" 
  (deleteTeacher)="deleteTeacher($event)">
</app-teachers-list>

<div class="create-wrapper">
  <app-create-teacher (teacherCreated)="onTeacherCreated()" [subjects]="subjects"></app-create-teacher>
  <app-create-subject (subjectCreated)="onSubjectCreated()"></app-create-subject>
</div>

<app-edit-teacher 
  *ngIf="editingTeacher" 
  [teacher]="editingTeacher" 
  [subjects]="subjects"
  (closeEditor)="closeEditor()" 
  (saveTeacher)="updateTeacher($event)">
</app-edit-teacher>

<button (click) = "logout()">Logout</button>

