<h1>Teachers Page</h1>

<app-teachers-list 
  [teachers]="teachers" 
  (editTeacher)="editTeacher($event)" 
  (deleteTeacher)="deleteTeacher($event)">
</app-teachers-list>

<app-create-teacher (teacherCreated)="onTeacherCreated()"></app-create-teacher>
<app-create-subject (subjectCreated)="onSubjectCreated()"></app-create-subject>
<button (click) = "logout()">Logout</button>

<app-edit-teacher 
  *ngIf="editingTeacher" 
  [teacher]="editingTeacher" 
  (closeEditor)="closeEditor()" 
  (saveTeacher)="updateTeacher($event)">
</app-edit-teacher>
<ul>
  <h2>Subjects List: </h2>
  <li *ngFor="let subject of subjects">
    {{ subject.subjectName }} 
  </li>
</ul>
